* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}


.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#background{
  position: relative;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: firebrick;
  height: 100%;
  width: 100%;
}

#defaultCanvas0 {
  position: absolute;
}

#primary-sq {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  position: absolute;
  top: 200px;
  right: 200px;
}

.bubble{
  position: absolute;
  transition: width .19s, height .19s, background-color .19s;
  transition: all 1s ease;
  width: 50px;
  height: 50px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  margin-top: 12px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.wiggle {
  animation: wiggle 1.0s;
  animation-iteration-count: infinite;
}

.fall {
  animation: fall 3.0s;
  animation-timing-function: ease-in;
}

@keyframes wiggle {
  10%, 90% {
    transform:matrix(0.71,0.71,-0.71,0.71,2,0);
  }

  20%, 80% {
    transform:matrix(0.71,0.71,-0.71,0.71,-2,0);
  }

  30%, 50%, 70% {
    transform:matrix(0.71,0.71,-0.71,0.71,5,0);
  }

  40%, 60% {
    transform:matrix(0.71,0.71,-0.71,0.71,-5,0);
  }
}

@keyframes fall {
    // 0%   { transform:matrix(0.71,0.71,-0.71,0.71,0,0); }
    // 20%   { transform:matrix(0.71,0.71,-0.71,0.71,0,50); }
    // 40%   { transform:matrix(0.71,0.71,-0.71,0.71,0,125); }
    // 60%   { transform:matrix(0.71,0.71,-0.71,0.71,0,225); }
    // 80%   { transform:matrix(0.71,0.71,-0.71,0.71,0,350); }
    // 100%  { transform:matrix(0.71,0.71,-0.71,0.71,0,500); }
  from {top: 0px;}
  to {top: 2000px;}
}