* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus{
    outline: none;
}

html, body, .background {
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-controls {
  padding: 0.5rem 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}


.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#background{
  z-index: -10;
  position: relative;
  top: 0; bottom: 0; right: 0; left: 0;
  background: url('/src/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#defaultCanvas0 {
  position: absolute;
}

#dropHolder{
  width: 100%;
  margin: 0 auto;
  display: block;
}

#dropHolder img{
  width: 100%;
  position:absolute;
}

#health-bar-container{
  position:absolute;
  width:20px;
  height: 200px;
  border: white solid 2px;
  border-radius: 3px;
  top: 10px;
  left: 8px;
  z-index: 100001;
}

#health-bar {
  width:100%;
  height: 100%;
  background-color: rgb(169, 47, 26);
  position:absolute;
  bottom: 0px;
  transition: all 1s ease;
  z-index: 1000;
}

#health-bar-container div:nth-child(2){
  width:100%;
  height: 100%;
  background-color: white;
  position:absolute;
  bottom: 0px;
}

#sailor-score {
  position: absolute;
  width: 30px;
  top:10px;
  right:2px;
  z-index: 10001;
}

#sailor-score img{
  width: 100%;
}

#sailor-score-text{
  position:absolute;
  top: 10px;
  left: 10px;
  color:white;
  font-size: 20px;
  text-shadow: 1px 1px #37383E;
}

.bubble{
  z-index: 100;
  position: absolute;
  left:50%;
  transition: width .19s, height .19s, background-color .19s;
  transition: all 1s ease;
  width: 25px;
  height: 25px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg) translateX(-100%) translateY(-30%);
  margin-top: 30px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  border: white 2px solid;
}

#cloudFront{
  z-index: 101;
}

#cloudBack{
  z-index: 99;
}

.water-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1000;
}


.wiggle {
  animation: wiggle 1.0s;
  animation-iteration-count: infinite;
}

.fall {
  animation: fall 3.0s;
  animation-timing-function: ease-in;
}

#cloud-module{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.cloudUp {
  animation: cloudUp 2.0s ease forwards;
}

.cloudDown {
  animation: cloudDown 2.0s ease forwards;
}

#cloud-module > img{
  position: absolute;
  transform: translate(50%, -50%);
  top: 45%;
  right: 50%;
  width: 500px;
  z-index: 10;
}

#text-holder{
  transform: translate(50%, -50%);
  position: absolute;
  top: 50%;
  right: 50%;
  height: 200px;
  width: 380px;
  z-index: 11;
}

#module-text{
  color: white;
  text-shadow: 1px 1px #98CAEF;
  font-family: 'East Sea Dokdo';
  text-align: center;
  font-size: 40px;
}

#button-holder {
  height: 80px;
  width: 80px;
  margin: 10px auto;
  display:block;
}

#button-holder:hover {
  cursor: pointer;
}

#button-holder input, #button-holder img{
  width:100%;
}

#gameover-div{
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:340px;
  margin: 10px auto;
}

#sailor-score-gameover{
  margin-top:18px;
  width:60px;
  height:90px;
  position: relative;
}
#sailor-score-gameover img{
  width:100%
}

#sailor-score-text-gameover{
  position: absolute;
  transform: translate(50%, -50%);
  position: absolute;
  top: 50%;
  right: 50%;
  color:white;
  font-size: 42px;
  text-shadow: 1px 1px #37383E;
  font-family: 'East Sea Dokdo';
}

#try-again-button{
  width: 80px;
  height: 80px;
  margin-top:14px;
}
#try-again-button input{
  width: 100%;
}

.hidden{
  display: none !important;
}

@keyframes cloudUp {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-1000px);
  }
}

@keyframes cloudDown {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes wiggle {
  10%, 50%, 90% {
    transform: rotate(45deg) translateX(-105%) translateY(-35%);
  }

  25%, 65% {
    transform: rotate(45deg) translateX(-100%) translateY(-30%);
  }
}

@keyframes fall {
  from {top: 0%;}
  to {top: 300%;}
}

@media only screen and (max-width: 820px) {
  #cloud-module > img{
    width: 360px;
  }
  #text-holder{
    height: 120px;
    width: 260px;
  }

  #module-text{
    font-size: 28px;
  }

  #button-holder {
    height: 40px;
    width: 40px;
}


#gameover-div{
  width:265px;
}

#sailor-score-gameover{
  margin-top:18px;
  width:60px;
  height:90px;
  position: relative;
}


#sailor-score-text-gameover{
  font-size: 42px;
}

#try-again-button{
  width: 80px;
  height: 80px;
  margin-top:14px;
}

}