* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .background {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-controls {
  padding: 0.5rem 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}


.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#background{
  z-index: -10;
  position: relative;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: firebrick;
  height: 100%;
  width: 100%;
}

#defaultCanvas0 {
  position: absolute;
}

#dropHolder{
  width: 100%;
  margin: 0 auto;
  display: block;
}

.bubble{
  z-index: 100;
  position: absolute;
  transition: width .19s, height .19s, background-color .19s;
  transition: all 1s ease;
  width: 25px;
  height: 25px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg) translateX(40%) translateY(-50%);
  margin-top: 10px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  border: white 2px solid;
}

.water-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1000;
}

.wiggle {
  animation: wiggle 1.0s;
  animation-iteration-count: infinite;
}

.fall {
  animation: fall 3.0s;
  animation-timing-function: ease-in;
}

@keyframes wiggle {
  10%, 90% {
  transform: rotate(45deg) translateX(39%) translateY(-50%);
  }

  20%, 80% {
    transform: rotate(45deg) translateX(41%) translateY(-50%);
  }

  30%, 50%, 70% {
    transform: rotate(45deg) translateX(37%) translateY(-50%);
  }

  40%, 60% {
    transform: rotate(45deg) translateX(43%) translateY(-50%);
  }
}

@keyframes fall {
  from {top: 0%;}
  to {top: 300%;}
}