#herd-container{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
}

.square {
	box-sizing: border-box;
	border: 3px white solid;
	border-radius: 5%;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);	
	position: absolute;
}

#primary-sq {
	height: 150px;
	width: 200px;
	background-color: aquamarine;
	top: 30%;
	left: 35%;
}

.initialPos {
	animation: still 10s ease-in-out infinite forwards;
}

.float {
	animation: float 3s ease-in-out infinite;
	animation-fill-mode: forwards;
}

.riseUp {
	animation: riseUp 5s ease-in-out forwards;
}

.shakeNo {
  animation: shakeNo 1s cubic-bezier(.36,.07,.19,.97) both;
}

.jumpYes {
  animation: spring 2s ease forwards;
}

@keyframes still {
	0% {
		transform: translatey(0px) translateX(0px);
	}
	100% {
		transform: translatey(0px) translateX(0px);
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes riseUp {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 50px 30px 0px rgba(0,0,0,0.4);
		transform: translatey(-80px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes shakeNo {
  10%, 90% {
    transform: translateX(-2px);
  }
  
  20%, 80% {
    transform: translateX(4px);
  }

  30%, 50%, 70% {
    transform: translateX(-8px);
  }

  40%, 60% {
    transform: translateX(8px);
  }
}

@keyframes jumpYes { 
  0% {
    transform: scale(1.01) translateY(0); 
  }
  10% {
    transform: scale(1.2, 0.6); 
  }
  30% { 
    transform: scale(0.8, 1.1) translateY(-30px); 
  }
  50% { 
    transform: scale(1) translateY(0); 
  }
  100% { 
    transform: translateY(0); 
  }
}
