#herd-container{
	width: 100%;
	height: 100%;
		height: 150px;
	width: 200px;
	position: absolute;
	z-index: 1000;
	top: 30%;
	left: 35%;
}

#inner-container{
	width:100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

.square {
	box-sizing: border-box;
	border: 3px white solid;
	border-radius: 5%;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);	
	position: absolute;
}

#primary-sq {
	width: 100%;
	height: 100%;
	background-color: aquamarine;
	z-index: initial;
	transform-style: preserve-3d;
}

.new-pulse {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	border: 5px solid white;
	border-radius: 5%;
	z-index: -100;
	transform:translateZ(-1px); 
	animation: growPulse 6s ease-in-out forwards;
}


.initialPos {
	animation: still 10s ease-in-out infinite forwards;
}

.float {
	animation: float 3s ease-in-out infinite ;
	animation-fill-mode: forwards;
}

.riseUp {
	animation: riseUp 5s ease-in-out forwards;
}

.shakeNo {
  animation: shakeNo 1s cubic-bezier(.36,.07,.19,.97) both;
}

.jumpYes {
  animation: jumpYes 3.5s ease forwards;
}

.jumpYesRotate {
  animation: jumpYesRotate 2s ease forwards;
}

#boat-container{
	width:100%;
	height: 150;
	position:absolute;
	bottom:60px;
}

.boat-part-holder{
	animation: boatFloat 3s linear infinite;
	display:flex;
	align-items: center;
	flex-direction: column;
	width: 10%;
	position:absolute;
	bottom:5px;
	transition: all 1s ease;
	left:50%;

}

.boat-part-holder img:nth-child(2){
	z-index: 100;
}

.boat-2{width:80%;}
.boat-3{width:120%;}
.boat-4{width:160%;}
.boat-5{width:200%;}

.sail-2{width:70%;}
.sail-3{width:100%;}
.sail-4{width:130%;}
.sail-5{width:160%;}

.cont-size-2{width:60%;top:45%;height: 30%;}
.cont-size-3{width:100%;top:48%;height: 25%;}
.cont-size-4{width:140%;top:52%;height: 20%;}
.cont-size-5{width:180%;top:55%;height: 15%;}

.sailor-container{

	display:flex;
	justify-content: space-around;
	position: absolute;
	flex-wrap: wrap;
	
}

.sailor-ind-container{

	height: 100%;
	width: 40%;
	z-index: 99;
}

.ind-size-2{width:40%;}
.ind-size-3{width:28%;}
.ind-size-4{width:20%;}
.ind-size-5{width:15%;}

.sailor-container img{
	height:90%;
}

.sunkBoat {
	animation: sunkBoat 2s linear forwards;
}

.dead-sailor{
	animation: deadSailor 1.2s linear forwards;
}

@keyframes deadSailor {
	0% {
		transform: scale(1.0) translateY(0) translateX(0);
	}
	20% {
		transform: scale(2.75) translateY(0px) translateX(0);
	}
	60% {
		transform: scale(1.5) translateY(100px) translateX(0);
	}
	80% {
		transform: scale(0.0) translateY(100px) translateX(0);
	}	
	100% {
		transform: scale(0.0) translateY(100px) translateX(0);
	}	
}

@keyframes still {
	0% {
		transform: translatey(0px) translateX(0px);
	}
	100% {
		transform: translatey(0px) translateX(0px);
	}
}

@keyframes boatFloat {
	0% {
		transform: translatey(0px) rotate(0deg);
	}
	33% {
		transform: translatey(-5px) rotate(-3deg);
	}
	67% {
		transform: translatey(-5px) rotate(3deg);
	}
	100% {
		transform: translatey(0px) rotate(0deg);
	}
}

@keyframes sunkBoat {
	0% {
		transform: translatey(0px) rotate(0deg);
	}
	50% {
		transform: translatey(75px) rotate(180deg);
	}
	100% {
		transform: translatey(300px) rotate(180deg);
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes riseUp {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 50px 30px 0px rgba(0,0,0,0.4);
		transform: translatey(-80px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes shakeNo {
  10%, 90% {
    transform: translateX(-2px);
  }
  
  20%, 80% {
    transform: translateX(4px);
  }

  30%, 50%, 70% {
    transform: translateX(-12px);
  }

  40%, 60% {
    transform: translateX(12px);
  }
}

@keyframes jumpYes { 
  0% {
    transform: scale(1) translateY(0); 
  }
  10% {
    transform: scale(1.2, 0.6); 
  }
  30% { 
    transform: scale(0.7, 1.1) translateY(-150px); 
  }
  50% { 
    transform: scale(1) translateY(0); 
  }
  100% { 
    transform: translateY(0); 
  }
}

@keyframes jumpYesRotate { 
  0% {
    transform: rotate(0deg); 
  }
  35% {
    transform: rotate(0deg); 
  }
  60% { 
    transform: rotate(360deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}

@keyframes growPulse {
	0% {
		transform: scale(1.0) translateZ(-1px);
		
	}

	100% {
		transform: scale(15.0) translateZ(-1px);
	}
}


